{% block feed %}
<div class="container">
  <div class="posts">
    {% for post in posts %}
    <div class="card">
      <article class="post card-body">
        <header>
          <div>
            <a href="posts/{{ post['id'] }}"
              ><h1 class="card-title">{{ post['header'] }}</h1></a
            >
          </div>
          {% if post['img'] %}
          <div class="card-image">
            <img src={{ url_for('send_uploaded_file', filename=post['img']) }}>
          </div>
          {% endif %}
        </header>
        <p class="body card-text">{{ post['content'] }}</p>
        <span>{{ post['date'] }}</span>
      </article>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}